@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    padding-top: 4rem;
    background-image: url(images\aquadonutbackground.jpg);
    text-align: center;
}

img {
  border-radius:50%;
}

a {
  color: black;
}

.header{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.addDonutBtn {
  background-image: url(images\donut.webp);
    padding: 1em;
    background-size: 400px;
    border-radius: 50%;
    height: 400px;
    width: 400px;  
}

.addDonutBtn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.donutCount{
background-color: pink;
margin-top: 2rem;
margin-left: 50rem;
margin-right: 50rem;
font-family: "Shrikhand", sans-serif;
}

.autoClickerCount{
  background-color: pink;
  margin-left: 48rem;
  margin-right: 48rem;
  font-family: "Shrikhand", sans-serif;
  font-size: x-large;
}

.autoClickerCost{
  background-color: pink;
  margin-left: 50rem;
  margin-right: 50rem;
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}

.multiplierCount{
  background-color: pink;
  margin-left: 48rem;
  margin-right: 48rem;
  font-family: "Shrikhand", sans-serif;
  font-size: x-large;
}

.multiplierCost{
  background-color: pink;
  margin-left: 50rem;
  margin-right: 50rem;
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}

  .dropdown {
    font-family: "Shrikhand", sans-serif;
   justify-content: space-between;
   margin-right: 2rem;
  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}


.addAutoClickerBtn {
  background-color: pink;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addAutoClickerBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.multiplierBtn {
  background-color: pink;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.multiplierBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
  
.resetBtn {
  margin-top: 1rem;
  background-color: pink;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resetBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.title {
  margin-left: 2rem;
  font-family: "Shrikhand", sans-serif;
}
  .show {display: block;}